body{
    margin:0;padding:0;
    background-color: #eee;
    font:18px Arial;
}

#conteudo{    
    display: block;
    position: relative;
    margin: 0 auto;
    width: 1000px;
    min-height: 600px;
    background-color: #fff;
}

fieldset {
    background-color: #fff;
    width: 1000px;
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

fieldset input[type='text'],fieldset input[type='password'],fieldset textarea{
    width: 400px;
    display: block;
    position: relative;
    margin: 0 auto;
    border-radius: 3px;
}

.titulo{
    font-size: 50px;font-weight: bold;
}
.subtitulo{
    font-size: 15px;font-weight: bold;
}

.sitename{
    font-size:30px;font-weight: bold;
}

.btn {
    width: 100px;
}

.tabela {
    width: 638px;
    border-spacing: 0px;
    display: block;
    position: relative;
    margin: 0 auto;
    background-color: #fff;;
    text-align: left;
}

.tabela td, .tabela th {
    border: 1px solid black;
    width: 200px;
    vertical-align: center;
}
.tabela th{
    text-align: center;
    color: #fff;
    font-weight: bold;
}

tr.consultar{
    background-color:#28A745
}
tr.alterar{
    background-color:#FFC107
}
tr.apagar{
    background-color:#DC3545
}

.tabela td.tdida{
    text-align: center;
    width: 25px;
}
.tabela tr.linha{
    cursor: pointer;
}
.tabela tr.linha:hover{
    background-color: #ccc;
}

#alterar , #apagar{
    display: none;
}

#mensagem{    
    display: block;position: absolute;margin-left: 40%;margin-top: 10%;
    width: 400px;height: 130x;line-height: 130px;
    background-color: red;color: white;font-size: 22px;
    text-align: center;z-index: 200;font-weight: bold;
}
#quadro{    
    display: none;position: absolute;
    background-color: rgba(0,0,0,.7);z-index: 100;
    width: 100%;height: 100%;
}


