<!--HTML-->
<br>
<fieldset>
    <legend class="sitename">SISTEMA MVC</legend>
    <button type="button" onclick="window.location.href='?p=inserir'" class="btn btn-success">Inserir</button>
    &ensp;
    <button type="button" onclick="window.location.href='?p=apagar'" class="btn btn-danger">Apagar</button>
    &ensp;
    <button type="button" onclick="window.location.href='?p=alterar'" class="btn btn-warning">Alterar</button>
    &ensp;
    <button type="button" onclick="window.location.href='?p=contatos'" class="btn btn-secondary">Contatos</button>
    &ensp;
    <button type="button" onclick="window.location.href='?p=sair'" class="btn btn-dark">Sair</button>
    <br><br>
</fieldset>
<div id="conteudo"><br>
    {{conteudo}}
</div>
<footer></footer>
</body>
</html>