{{consultar}}
<br>
<div id='inseriruser'>
<fieldset>
    <legend>INSERIR USUARIO</legend>    
    <form method='post'><br>
        <input type='text' id='name' placeholder='Usuario'><br>
        <input type='text' id='pass' placeholder='Senha'><br>
        <label>Administrador ? &emsp;<input type='checkbox' id='adm'></label><br><br>
        <button type='button' id='botaoinseriruser' class='btn btn-success'>Inserir</button><br>
    </div>
        <br>
        <div id='apagar'>
            <fieldset><legend>APAGAR</legend>
            <br>
            <button type='button' id='botaoapagaruser' class='btn btn-danger'>Confirma</button>
            &ensp;
            <button type="button" onclick="window.location.href='user'" class="btn btn-primary">Cancela</button>
            <br>
        </fieldset>
        </div>
    </form>
</fieldset>


